.indent-bg-0 {
}
.indent-bg-1 {
    background-color: #E0F2F1;
}
.indent-bg-2 {
    background-color: #E1F5FE;
}
.indent-bg-3 {
    background-color: #F1F8E9;
}
.indent-bg-4 {
    background-color: #B2DFDB;
}
.indent-bg-5 {
    background-color: #B3E5FC;
}
.indent-bg-6 {
    background-color: #DCEDC8;
}
.indent-bg-7 {
    background-color: #80CBC4;
}
.indent-bg-8 {
    background-color: #81D4FA;
}
.indent-bg-9 {
    background-color: #C5E1A5;
}
