.indent-bg-0 {
}
.indent-bg-1 {
    background: #f0f0f0;
}
.indent-bg-2 {
    background: #e8e8e8;
}
.indent-bg-3 {
    background: #e0e0e0;
}
.indent-bg-4 {
    background: #d8d8d8;
}
.indent-bg-5 {
    background-color: #d0d0d0;
}
.indent-bg-6 {
    background-color: #c0c0c0;
}
.indent-bg-7 {
    background-color: #b8b8b8;
}
.indent-bg-8 {
    background-color: #b0b0b0;
}
.indent-bg-9 {
    background-color: #a8a8a8;
}
